@import "variables.scss";

.icon {
  &_bucket:before {
    position: absolute;
    top: 25%;
    left: 1.5em;

    max-width: 100%;
    width: 1.8em;
    height: 1.8em;

    content: "";
    background-image: url("/codejam-canvas/assets/icons/bucket.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &_eyedropper:before {
    position: absolute;
    top: 25%;
    left: 1.5em;

    max-width: 100%;
    width: 1.8em;
    height: 1.8em;

    content: "";
    background-image: url("/codejam-canvas/assets/icons/eyedropper.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &_move:before {
    position: absolute;
    top: 25%;
    left: 1.5em;

    max-width: 100%;
    width: 1.8em;
    height: 1.8em;

    content: "";
    background-image: url("/codejam-canvas/assets/icons/move.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &_transform:before {
    position: absolute;
    top: 25%;
    left: 1.5em;

    max-width: 100%;
    width: 1.5em;
    height: 1.5em;

    content: "";
    background-image: url("/codejam-canvas/assets/icons/transform.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
